body {
    background-color: lightblue;
}
main {
    background-color:white;
    width:30%;
    background-position:center;
    margin-left:35%;
    border-radius:20px;
    height:800px;
}
h1 {
    background-position:center;
    text-align:center;
    padding-top:15%;
    font-style:italic;
    font-family:"times new roman",serif;
    margin-top:15%;
}
section {
    background-color:lightblue;
    border-radius:20px;
    width:70%;
    margin-left:15%;
    margin-bottom:10%;
    padding-bottom:5%;
    padding-top:5%;
}
a {
    text-decoration:none;
    color:black;
}